@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  padding-left: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

body {
  font-family: "OpenSans", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 175px; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  flex: 1 0 auto; }

.d-flex {
  display: flex; }

.btn-add-to-cart {
  border: 0;
  border: none;
  background: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 15px;
  min-width: 270px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  border: none; }
  .btn-add-to-cart::-moz-focus-inner {
    border: 0; }
  .btn-add-to-cart::-ms-expand {
    display: none; }
  .btn-add-to-cart:focus {
    outline: none; }

.breadcrumbs-section {
  display: none;
  background-color: #f3f3f3;
  padding: 17px 0 15px; }
  @media (min-width: 1200px) {
    .breadcrumbs-section {
      display: block; } }

.breadcrumbs-list {
  display: flex; }
  .breadcrumbs-list li::after {
    content: '•';
    font-size: 13px;
    margin: 0 10px; }
  .breadcrumbs-list li:last-child::after {
    content: none; }

.breadcrumbs-link {
  font-size: 12px;
  line-height: 40px;
  color: #33333a;
  text-transform: uppercase; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0; }
  @media (max-width: 992px) {
    .header-content {
      padding: 10px 0; } }

.header-burger-menu {
  display: none; }
  @media (max-width: 992px) {
    .header-burger-menu {
      display: block;
      background: url("../img/burger-menu.png") no-repeat;
      width: 26px;
      height: 21px;
      margin-right: 10px; } }

.logo {
  width: 120px;
  height: 22px;
  margin-right: 41px; }
  @media (max-width: 992px) {
    .logo {
      margin-right: 0; } }

.main-menu-list {
  display: flex; }
  @media (max-width: 992px) {
    .main-menu-list {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      background: #ccc; } }
  .main-menu-list .main-menu-item {
    margin-right: 54px;
    position: relative; }
    .main-menu-list .main-menu-item::after {
      content: url("../img/arrow.png");
      position: absolute;
      right: -20px; }
      @media (max-width: 992px) {
        .main-menu-list .main-menu-item::after {
          display: none; } }
    .main-menu-list .main-menu-item:last-child {
      margin-right: 0px; }
    @media (max-width: 992px) {
      .main-menu-list .main-menu-item {
        margin-right: 0;
        width: calc(100% / 3);
        text-align: center; }
        .main-menu-list .main-menu-item:hover {
          background-color: #e3ffca; } }
    .main-menu-list .main-menu-item .main-menu-link {
      font-family: "OpenSans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #33333a;
      text-transform: uppercase; }
      @media (max-width: 992px) {
        .main-menu-list .main-menu-item .main-menu-link {
          display: block;
          padding: 15px 20px; } }

@media (max-width: 992px) {
  .sub-menu-wrapper {
    background-color: #eeeeee; } }

.sub-menu-wrapper-inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0; }
  @media (max-width: 992px) {
    .sub-menu-wrapper-inner {
      margin-top: 30px;
      background-color: #eeeeee; } }

.sub-menu-left {
  display: flex;
  justify-content: space-between;
  width: 47%; }
  @media (max-width: 992px) {
    .sub-menu-left {
      flex-direction: column;
      width: 100%; } }

.sub-menu-right {
  display: flex;
  justify-content: space-between;
  width: 47%; }
  @media (max-width: 992px) {
    .sub-menu-right {
      display: none; } }

.sub-menu-left-title {
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 24px; }

.sub-menu-category-item {
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative; }
  .sub-menu-category-item::before {
    position: absolute;
    left: -24px;
    content: url("../img/arrow-right.png"); }

.sub-menu-category-link {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #33333a;
  text-transform: uppercase; }

.sub-menu-right-item {
  display: block;
  background-image: url(../img/featured.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  max-width: 263px;
  height: 290px; }

.sub-menu-right-img {
  width: 263px;
  height: 290px;
  opacity: 0.2; }

.sub-menu-right-title {
  width: 100%;
  position: absolute;
  top: 50%;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff; }

.listing-title {
  font-family: "OpenSans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #33333a;
  margin-bottom: 40px; }

.listing-products {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 992px) {
    .listing-products {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto; } }
  .listing-products .product-item {
    display: block;
    max-width: 263px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-right: 25px; }
    .listing-products .product-item:hover {
      box-shadow: 0px 0px 10px 10px #ccc;
      background-color: #ffffff; }
    @media (max-width: 992px) {
      .listing-products .product-item {
        width: 48%; } }
  .listing-products .product-img {
    width: 100%;
    max-width: 263px; }
  .listing-products .product-name {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    color: #33333a;
    padding: 12px 20px 5px;
    line-height: 1.38; }
  .listing-products .product-price {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #33333a; }

.shop-category {
  padding-top: 38px; }
  .shop-category .category-title {
    font-family: "OpenSans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #33333a;
    margin-bottom: 28px; }
  .shop-category .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .shop-category .category-list {
        justify-content: space-around;
        align-items: center;
        margin: 0 auto; } }
  .shop-category .category-item {
    max-width: 263px;
    width: 100%;
    position: relative;
    margin-bottom: 10px; }
    @media (max-width: 992px) {
      .shop-category .category-item {
        width: 47%; } }
    .shop-category .category-item:hover .category-img {
      opacity: 0.4; }
    .shop-category .category-item:hover .category-link {
      display: block; }
  .shop-category .category-img {
    width: 100%;
    max-width: 263px; }
  .shop-category .category-name {
    position: absolute;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #030303;
    padding: 13px 0;
    background-color: #fff;
    bottom: 60px;
    width: 100%; }
  .shop-category .category-link {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #31363d;
    padding: 11px 50px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 38px;
    display: none; }

/***********************************************
*SECTION SUBSCRIBE
*************************************************/
.section-subscribe {
  padding: 65px 0; }

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .subscribe {
      flex-direction: column; } }
  .subscribe-title {
    font-family: "OpenSans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #31363d;
    margin-right: 24px; }
    @media (max-width: 992px) {
      .subscribe-title {
        margin-right: 0;
        margin-bottom: 10px; } }
  .subscribe-description {
    width: 243px;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 1.36;
    color: #31363d; }
    @media (max-width: 992px) {
      .subscribe-description {
        width: 100%;
        margin-bottom: 20px;
        text-align: center; } }
  .subscribe-form {
    display: flex;
    max-width: 658px;
    width: 100%; }
    @media (max-width: 992px) {
      .subscribe-form {
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center; } }
  .subscribe-email {
    border: none;
    outline: none;
    max-width: 318px;
    width: 100%;
    border-radius: 22px;
    padding: 15px;
    background-color: #d8d8d8;
    margin-right: 39px; }
    @media (max-width: 992px) {
      .subscribe-email {
        margin-right: 0;
        margin-bottom: 10px; } }
  .subscribe-btn {
    max-width: 300px;
    width: 100%;
    padding: 12px 0;
    border-radius: 100px;
    background-color: #33333a;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer; }

.block-hidden {
  visibility: hidden; }
  @media (max-width: 992px) {
    .block-hidden {
      visibility: visible; } }

.all-photos {
  display: flex;
  flex-direction: column; }
  @media (max-width: 992px) {
    .all-photos {
      flex-direction: row;
      justify-content: space-between;
      overflow-x: auto;
      margin-top: 24px;
      order: 2; } }
  .all-photos-item {
    width: 68px;
    height: 68px;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .all-photos-item {
        margin-right: 12px; } }
    .all-photos-item.active {
      border: 2px solid #ff6008; }

.photo-main {
  width: 450px;
  height: 680px;
  margin: 0 30px; }
  @media (max-width: 992px) {
    .photo-main {
      width: 100%;
      height: 70vh;
      margin: 0 auto;
      order: 1; } }
  .photo-main img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.main-search {
  display: flex;
  width: 50%; }
  .main-search-input {
    width: 100%;
    border-radius: 6px;
    background-color: #d8d8d8;
    padding: 4px 0 4px 19px;
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #33333a;
    border: none;
    outline: none;
    margin-right: 25px; }
    .main-search-input::-webkit-input-placeholder {
      color: #333333;
      font-size: 16px; }
    .main-search-input::-moz-placeholder {
      color: #333333;
      font-size: 16px; }
    .main-search-input:-ms-input-placeholder {
      color: #333333;
      font-size: 16px; }
    .main-search-input:-moz-placeholder {
      color: #333333;
      font-size: 16px; }
  .main-search-btn {
    padding: 8px;
    min-width: 150px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    border-radius: 6px;
    border: none; }
  @media (max-width: 992px) {
    .main-search {
      display: none; } }

.product-main {
  display: flex;
  margin: 48px auto 100px; }
  @media (max-width: 992px) {
    .product-main {
      flex-direction: column;
      margin-bottom: 48px; } }
  .product-main .btn-add-to-cart {
    margin: 16px 0; }

.product-description {
  font-size: 17px;
  line-height: 24px; }

.product-add-to-cart-btn {
  width: 50%;
  margin: 0 auto;
  background-color: #030303;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  border-radius: 6px;
  border: none;
  margin-bottom: 16px;
  font-weight: 700; }

.product-main-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 992px) {
    .product-main-info {
      order: 3;
      width: 100%; } }

.product-title {
  font-size: 32px;
  line-height: 43px;
  color: #030303;
  font-weight: 700;
  margin-bottom: 6px; }

.product-meta {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 17px; }

.product-price {
  font-size: 24px;
  line-height: 30px;
  color: #ff6008;
  font-weight: 700;
  margin-bottom: 18px; }

.product-filter {
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 4px;
  color: #33333a; }

.product-colors {
  display: flex;
  justify-content: center;
  align-items: center; }
  .product-colors .color-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid transparent; }
    .product-colors .color-item.active {
      border: 2px solid blue; }
  .product-colors .red {
    background-color: #ff6008; }

.product-sizes {
  display: flex;
  justify-content: center;
  margin-bottom: 15px; }
  .product-sizes .size-item {
    position: relative;
    margin-right: 10px; }
    .product-sizes .size-item > input[type="radio"] {
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 0;
      cursor: pointer; }
      .product-sizes .size-item > input[type="radio"]:checked + span {
        border-color: #000;
        background-color: #000;
        color: #fff; }
    .product-sizes .size-item > span {
      width: 50px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f3f3f3;
      font-size: 14px;
      line-height: 20px;
      color: #515356; }

.product-tabs {
  width: 50%;
  margin: 16px auto; }
  .product-tabs-options {
    display: flex;
    align-items: center;
    justify-content: center; }
    .product-tabs-options li {
      padding: 10px;
      font-size: 18px;
      font-weight: 700;
      margin-right: 20px;
      cursor: pointer; }
      .product-tabs-options li.active {
        border-bottom: 2px solid red; }
  .product-tabs-item {
    display: none;
    padding: 16px;
    margin-top: 8px; }
    .product-tabs-item.active {
      display: block; }

.parameters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
  line-height: 24px; }
  .parameters-list li {
    margin-right: 16px;
    width: 40%; }
  .parameters-list .parameter-name {
    font-weight: 700; }

.comments-list li {
  display: flex;
  font-size: 17px;
  line-height: 24px;
  padding: 10px 0;
  margin-bottom: 8px; }
  .comments-list li .user-photo {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden; }
    .comments-list li .user-photo img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

.comments-add-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.comments-input {
  border: 1px solid #333333;
  color: #333333;
  width: 100%;
  height: 40px;
  border-radius: 6px; }

.comments-add-new {
  border: 1px solid #333333;
  color: #333333;
  height: 48px;
  margin: 8px 0;
  background-color: #fff;
  font-weight: 700;
  border-radius: 6px; }

.slider-wrapper {
  width: 60%; }

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center; }

.gallery-top {
  height: 80%;
  width: 100%; }

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0; }

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4; }

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1; }

.header {
  box-shadow: 0 2px 4px 0 rgba(10, 19, 49, 0.07);
  position: relative; }
  @media (max-width: 992px) {
    .header {
      display: none; } }
  .header-icons {
    display: flex;
    justify-content: flex-end;
    width: 18%; }
    @media (max-width: 992px) {
      .header-icons {
        width: 130px; } }
  .header-contacts-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .header-contacts-block a {
      color: #333333;
      font-size: 16px;
      font-weight: 700; }
      .header-contacts-block a:first-child {
        margin-bottom: 8px; }
      .header-contacts-block a i {
        margin-right: 4px; }
  .header-icon {
    font-size: 26px;
    color: #333333;
    margin-right: 16px;
    position: relative; }
    .header-icon:active, .header-icon:hover {
      text-decoration: none; }
  .header-login-btn {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 3px 15px;
    margin-right: 16px; }
    .header-login-btn:active, .header-login-btn:hover {
      color: #ff6008;
      border: 1px solid #ff6008; }
  .header-cart-amount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background-color: #333333;
    top: -10px;
    right: -16px;
    color: #ff6008;
    font-size: 18px;
    font-weight: 700; }

.pagination {
  display: flex;
  justify-content: center;
  padding: 15px 0; }
  .pagination .nav-links {
    color: #333333;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pagination .nav-links.active, .pagination .nav-links:hover {
      background-color: #fff; }
      .pagination .nav-links.active a, .pagination .nav-links:hover a {
        color: #333333; }
  .pagination li {
    margin: 5px;
    border-radius: 50%; }
    .pagination li.active, .pagination li:hover {
      background-color: #333333; }
      .pagination li.active a, .pagination li:hover a {
        color: #fff; }
    .pagination li a {
      display: inline-block;
      padding: 7px 10px;
      font-size: 15px;
      color: #333333; }
      .pagination li a:active, .pagination li a:hover {
        text-decoration: none; }

.product-counter {
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  min-width: 120px; }
  .product-counter-btn {
    border: 0;
    border: none;
    background: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #f3f3f3;
    cursor: pointer;
    font-size: 36px;
    padding: 5px 18px; }
    .product-counter-btn::-moz-focus-inner {
      border: 0; }
    .product-counter-btn::-ms-expand {
      display: none; }
    .product-counter-btn:focus {
      outline: none; }
  .product-counter-value {
    border: 0;
    border: none;
    background: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 14px;
    width: 48px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    -moz-appearance: textfield; }
    .product-counter-value::-moz-focus-inner {
      border: 0; }
    .product-counter-value::-ms-expand {
      display: none; }
    .product-counter-value:focus {
      outline: none; }
    .product-counter-value::-webkit-outer-spin-button, .product-counter-value::-webkit-inner-spin-button {
      -webkit-appearance: none; }

.basket-page {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
  position: relative; }
  @media (max-width: 992px) {
    .basket-page {
      display: block; } }

.basket-items-form {
  width: 60%; }
  @media (max-width: 992px) {
    .basket-items-form {
      width: auto; } }

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid  #e5e5e5;
  padding: 20px 0; }
  @media (max-width: 992px) {
    .basket-item {
      flex-direction: column;
      position: relative; } }
  .basket-item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.08);
    opacity: 0.54;
    font-weight: 700;
    color: #000;
    cursor: pointer; }
    @media (max-width: 992px) {
      .basket-item-delete {
        position: absolute;
        top: 16px;
        right: 16px; } }
  .basket-item-img {
    width: 103px;
    height: 103px; }
    @media (max-width: 992px) {
      .basket-item-img {
        width: 50%;
        height: 200px;
        object-fit: cover; } }
  .basket-item-info {
    color: #333333;
    font-size: 13px;
    line-height: 20px; }
    @media (max-width: 992px) {
      .basket-item-info {
        text-align: center;
        margin-top: 18px;
        line-height: 30px; } }
  .basket-item-title {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700; }

.basket-final-order {
  position: absolute;
  right: 0;
  top: 40px;
  margin-left: 48px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #333333; }
  @media (max-width: 992px) {
    .basket-final-order {
      margin-left: 0; } }
  .basket-final-order-title {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 14px;
    border-bottom: 1px solid #f3f3f3; }
  .basket-final-order-info {
    margin: 9px 0 20px; }
    .basket-final-order-info li {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .basket-final-order-info .title {
      font-size: 14px;
      line-height: 34px; }
    .basket-final-order-info .price {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700; }

.breadcrumbs-block {
  padding: 67px 0;
  background-color: #f3f3f3; }
  .breadcrumbs-block .breadcrumbs .breadcrumbs-row {
    margin-bottom: 15px; }
    .breadcrumbs-block .breadcrumbs .breadcrumbs-row ul li {
      display: inline-block;
      margin-right: 20px;
      position: relative; }
      .breadcrumbs-block .breadcrumbs .breadcrumbs-row ul li::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: #33333a;
        right: -12px;
        top: 6px;
        width: 3px;
        height: 3px; }
      .breadcrumbs-block .breadcrumbs .breadcrumbs-row ul li a {
        font-family: "OpenSans", sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        color: #33333a;
        text-transform: uppercase; }
  .breadcrumbs-block .breadcrumbs .category-title-active h2 {
    font-family: "OpenSans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #33333a; }

.category-block {
  padding: 73px 0; }

.category-content {
  display: flex;
  justify-content: space-between; }

.filter-active-title {
  display: flex;
  justify-content: space-between;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #33333a;
  text-transform: uppercase;
  padding-bottom: 20px; }
  .filter-active-title .filter-reset {
    color: #ff6008; }

.category-list {
  padding-bottom: 57px; }

.category-item {
  padding-left: 20px; }
  .category-item-title {
    display: inline-block;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #33333a;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative; }
    .category-item-title::before {
      content: url("../img/arrow.png");
      position: absolute;
      left: -20px; }
  .category-item-sub-menu li {
    margin-bottom: 15px; }
    .category-item-sub-menu li a {
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: #33333a;
      text-transform: uppercase; }

.category-product-listing {
  width: 74%; }

.btn-loading-products {
  text-align: center; }
  .btn-loading-products a {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #33333a;
    text-transform: uppercase; }

.filter-title {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px; }

.border-category {
  border-bottom: 1px solid #f3f3f3; }

.sub-page__title {
  color: #33333a;
  font-size: 32px;
  padding: 30px 0 8px 0;
  text-align: center; }

.sub-page__sub-title {
  color: #a7a3a3;
  font-size: 14px;
  text-align: center;
  padding-bottom: 40px; }
  @media (min-width: 401px) and (max-width: 480px) {
    .sub-page__sub-title {
      padding-bottom: 10px; } }
  @media (max-width: 400px) {
    .sub-page__sub-title {
      padding-bottom: 10px; } }

@media (min-width: 401px) and (max-width: 480px) {
  .job-offer__feedback {
    padding-bottom: 10px; } }

@media (max-width: 400px) {
  .job-offer__feedback {
    padding-bottom: 10px; } }

.job-offer__feedback {
  font-size: 16px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 5px;
  margin: 20px auto;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  color: #fff;
  background-color: #33333a; }

.job-offer__mail {
  color: #d8d8d8; }

.job-description {
  padding: 14px 65px; }
  .job-description__border {
    border-bottom: 1px solid #d8d8d8;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 0; }
  .job-description__position {
    font-size: 22px;
    font-weight: bold;
    color: #33333a; }
  .job-description__location {
    font-size: 16px;
    color: #78909c;
    padding: 5px 0; }
  .job-description__text {
    font-size: 16px;
    color: #33333a; }
  @media (min-width: 481px) and (max-width: 992px) {
    .job-description {
      padding: 10px 30px; } }
  @media (min-width: 401px) and (max-width: 480px) {
    .job-description {
      padding: 10px; } }
  @media (max-width: 400px) {
    .job-description {
      padding: 5px; } }

.about-us__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px; }
  @media (max-width: 600px) {
    .about-us__wrapper {
      flex-direction: column; } }

.about-us__content {
  color: #33333a;
  line-height: 135%;
  padding: 15px; }

.about-us__title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px; }

.about-us__paragraph {
  padding: 10px; }
  .about-us__paragraph:first-child {
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d8d8; }

.our-policy {
  padding-bottom: 45px; }
  .our-policy__paragraph {
    color: #33333a;
    line-height: 135%;
    padding: 15px;
    text-indent: 50px; }

.list {
  color: #585757;
  list-style-type: decimal;
  padding: 5px 55px; }
  @media (min-width: 401px) and (max-width: 480px) {
    .list {
      padding: 5px 25px; } }
  @media (max-width: 400px) {
    .list {
      padding: 5px 25px; } }
  .list__item {
    padding: 7px 0;
    line-height: 30px; }
    .list__item-bold {
      font-weight: bold; }

.user-info {
  display: flex;
  align-items: center; }

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px; }
  .user-avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1; }
  .modal-backdrop.hidden {
    display: none; }

.login-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  width: 500px;
  font-size: 14px;
  border: 1px solid black;
  background-color: #fff;
  color: #030303;
  border-radius: 4px; }
  @media (max-width: 480px) {
    .login-menu {
      width: 95%; } }
  .login-menu_header {
    position: relative;
    bottom: 6px;
    font-size: 32px;
    font-weight: bold; }
  .login-menu_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-menu_form-fields {
      display: block;
      width: 100%; }
  .login-menu-block {
    padding: 20px; }

.field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.login-cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 15px 15px 0;
  font-size: 16px;
  line-height: 1;
  cursor: pointer; }

.login-menu_par {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #33333a;
  margin-top: 20px;
  margin-bottom: 15px; }

.login-form-input-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin: 7px 0; }

.login-form-input {
  width: 396px;
  height: 36px;
  margin: 5px 0 13px 0;
  padding-left: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  outline: none; }
  @media (max-width: 480px) {
    .login-form-input {
      width: 95%; } }

.login-form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 48px;
  border-radius: 25px;
  background-color: #33333a;
  border: 1px solid #33333a;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  outline: none; }

.login-menu_error-msg {
  color: red;
  font-size: 16px; }

.registration-area {
  width: 100%;
  background-color: #33333a;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px; }

.register_btn {
  background-color: #fff;
  color: #000; }

.main-footer {
  background-color: #33333a;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  color: #fff; }
  @media (max-width: 992px) {
    .footer-list {
      flex-direction: column;
      align-items: center; } }

@media (max-width: 992px) {
  .footer-column {
    margin-bottom: 15px;
    display: flex;
    justify-content: center; } }

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 60%; }
  @media (max-width: 992px) {
    .footer-menu {
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
      flex-direction: row; } }
  .footer-menu-column {
    width: 30%; }
    @media (max-width: 992px) {
      .footer-menu-column {
        margin-bottom: 10px;
        width: 100%; } }
    .footer-menu-column-title {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px; }

.footer-column-list .footer-column-item {
  margin-bottom: 10px; }

.footer-column-list .footer-column-link {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: #dedede; }

.footer-contacts-phone,
.footer-contacts-address {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #dedede; }

.footer-contacts-address {
  margin-bottom: 27px; }

.footer-action-icon {
  text-align: center; }

.footer-action-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #b2b2b2;
  border-radius: 50%;
  color: #33333a;
  line-height: 1.7;
  margin-right: 10px; }

.block-hidden {
  visibility: hidden; }
  @media (max-width: 992px) {
    .block-hidden {
      visibility: visible; } }

.filter-color-panel {
  display: flex;
  flex-wrap: wrap; }
  .filter-color-panel-item {
    margin-right: 24px;
    margin-bottom: 14px;
    position: relative; }
    .filter-color-panel-item input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      .filter-color-panel-item input:checked + .filter-color-panel-option {
        border: 2px solid #22ca46;
        box-shadow: 0 -1px 4px 0 #22ca46; }
  .filter-color-panel-option {
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer; }
    .filter-color-panel-option.black {
      background-color: black; }
    .filter-color-panel-option.red {
      background-color: red; }
    .filter-color-panel-option.green {
      background-color: green; }
    .filter-color-panel-option.purple {
      background-color: purple; }
    .filter-color-panel-option.blue {
      background-color: blue; }
    .filter-color-panel-option.yellow {
      background-color: yellow; }
    .filter-color-panel-option.beige {
      background-color: beige; }
    .filter-color-panel-option.brown {
      background-color: brown; }

.filter-btn {
  border: 0;
  border: none;
  background: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #333333;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  min-width: 100px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  height: 36px;
  border-radius: 21px; }
  .filter-btn::-moz-focus-inner {
    border: 0; }
  .filter-btn::-ms-expand {
    display: none; }
  .filter-btn:focus {
    outline: none; }
  .filter-btn.reset {
    background-color: #fff;
    color: #333333;
    border: 2px solid #333333;
    line-height: 34px; }
    .filter-btn.reset:active, .filter-btn.reset:hover {
      background-color: #333333;
      color: #fff;
      border: none; }
  .filter-btn:active, .filter-btn:hover {
    background-color: #fff;
    color: #333333;
    border: 2px solid #333333;
    line-height: 34px; }
  .filter-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px; }

.category-tree {
  display: flex;
  flex-direction: column; }
  .category-tree .checkbox span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #22ca46;
    box-shadow: 0 -1px 4px 0 #22ca46;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
  .category-tree-item {
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px; }
    .category-tree-item-secondary {
      font-size: 15px;
      font-weight: 700;
      position: relative; }
      .category-tree-item-secondary li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0; }
      .category-tree-item-secondary input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 32px;
        height: 32px;
        margin: 0;
        cursor: pointer; }
        .category-tree-item-secondary input[type="checkbox"]:checked + span {
          background-image: url("../img/checkbox.svg");
          border: none;
          box-shadow: none; }

.category {
  width: 30%; }

.filter-input {
  border: 1px solid #333333;
  padding: 2px 10px;
  font-size: 16px;
  height: 26px;
  max-width: 100px;
  margin-right: 8px;
  border-radius: 6px; }
  .filter-input::-webkit-input-placeholder {
    color: #333333;
    font-size: 16px; }
  .filter-input::-moz-placeholder {
    color: #333333;
    font-size: 16px; }
  .filter-input:-ms-input-placeholder {
    color: #333333;
    font-size: 16px; }
  .filter-input:-moz-placeholder {
    color: #333333;
    font-size: 16px; }

.category-block {
  display: flex;
  justify-content: space-between; }

.category-filter {
  width: 30%; }

.filter-divider {
  position: relative;
  margin: 28px 0; }
  .filter-divider:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #a1a8bd;
    margin-top: 35px; }

.checkout-page {
  display: flex;
  align-items: flex-start;
  margin-top: 36px; }
  @media (max-width: 992px) {
    .checkout-page {
      flex-direction: column;
      align-items: center; } }

.checkout {
  width: 70%; }
  @media (max-width: 992px) {
    .checkout {
      width: 100%;
      margin-top: 35px; } }
  .checkout-d-flex-row {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 992px) {
      .checkout-d-flex-row {
        flex-direction: column; } }
  .checkout-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px; }
    .checkout-product-item-img {
      height: 100px;
      width: 70px;
      margin: 10px 20px; }
    .checkout-product-item-block {
      width: calc(100% - 110px); }
    .checkout-product-item-model {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 15px; }
    .checkout-product-item-color {
      text-transform: uppercase;
      margin-bottom: 10px; }
    .checkout-product-item-size {
      text-transform: uppercase;
      margin-bottom: 20px; }
    .checkout-product-item-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1px solid #eee;
      margin-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .checkout-product-item-price-bold {
        font-weight: 600; }
  .checkout-delivery-method {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 3px; }
  .checkout-delivery-block {
    width: 30%; }
    .checkout-delivery-block-big {
      width: 65%; }
      @media (max-width: 992px) {
        .checkout-delivery-block-big {
          width: 100%; } }
    @media (max-width: 992px) {
      .checkout-delivery-block {
        width: 100%; } }
  .checkout-delivery-details {
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 20px; }
    .checkout-delivery-details-title {
      color: #000;
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 15px; }
  .checkout-delivery-content-label {
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 32%; }
  .checkout-delivery-content-input {
    height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    width: 90%; }

.delivery-input {
  visibility: hidden; }

.delivery-link-block {
  height: 70px;
  width: 220px;
  background-color: #eee;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px; }
  @media (max-width: 1280px) {
    .delivery-link-block {
      width: 100%; } }

.delivery-input:checked + .delivery-link .delivery-link-block {
  border: 1px solid #333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.checkout-delivery-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }
  @media (max-width: 1280px) {
    .checkout-delivery-list {
      flex-direction: column; } }

.checkout-next-btn {
  display: block;
  height: 40px;
  width: 120px;
  border: 2px solid #655f5f;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #655f5f;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  outline: none; }
  .checkout-next-btn:hover {
    background-color: #fff;
    color: #655f5f; }
  .checkout-next-btn:disabled {
    background-color: #cccccc;
    color: #fff;
    cursor: auto; }
    .checkout-next-btn:disabled:hover {
      background-color: #cccccc;
      color: #fff;
      cursor: auto; }

.btn-add-to-cart:disabled {
  background-color: #cccccc;
  cursor: auto; }

.checkout-payment {
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 3px; }
  .checkout-payment-below-block {
    display: flex;
    width: 90%; }
    @media (max-width: 992px) {
      .checkout-payment-below-block {
        width: 100%;
        flex-direction: column; } }
  .checkout-payment-expdate-block {
    display: flex;
    flex-direction: column;
    width: 50%; }
    @media (max-width: 992px) {
      .checkout-payment-expdate-block {
        width: 100%; } }
  .checkout-payment-exp {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .checkout-payment-exp-input {
    height: 20px;
    width: 70px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px; }

.checkout-input-error-message {
  color: red;
  position: relative;
  top: -5px;
  font-size: 12px; }

.input-error-message-exp {
  color: red;
  font-size: 13px;
  position: relative;
  top: 55px;
  left: -180px; }

.checkout-final-order {
  position: fixed;
  right: 80px;
  top: 130px;
  min-width: 300px;
  margin-left: 48px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #333; }

@media (max-width: 992px) {
  .checkout-final-order {
    position: static;
    margin: 26px 0; } }

.modal-success {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.modal-success-order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px 45px;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .modal-success-order {
      min-width: auto;
      padding: 25px;
      width: 95%; } }
  .modal-success-order-text {
    margin-bottom: 10px; }
    .modal-success-order-text-number {
      font-size: 18px;
      font-weight: 600; }
  .modal-success-order-btn {
    border: none;
    outline: none;
    min-height: 40px;
    min-width: 100px;
    color: #fff;
    background-color: #33333a;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase; }
    .modal-success-order-btn:active, .modal-success-order-btn:focus {
      outline: none; }
  .modal-success-order-after-login {
    width: 500px; }
    .modal-success-order-after-login-btn {
      height: 40px;
      width: 190px;
      color: #fff;
      background-color: #33333a;
      border-radius: 20px;
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase; }

.section-profile-title {
  height: 72px;
  background-color: #f3f3f3; }
  .section-profile-title-text {
    display: flex;
    align-items: center;
    height: 72px;
    font-family: 'OpenSans', sans-serif;
    color: #33333a;
    font-size: 12px;
    text-transform: uppercase; }

.section-profile-main {
  display: flex;
  flex-direction: row; }

.section-profile-navmenu {
  width: 260px; }
  .section-profile-navmenu-item {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    width: 100%;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
    .section-profile-navmenu-item::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-image: url("../img/arrow-right-grey.png");
      background-size: 16px 16px;
      height: 16px;
      width: 16px; }
    .section-profile-navmenu-item.active {
      display: flex;
      align-items: center;
      position: relative;
      height: 60px;
      width: 100%;
      color: #fe715a;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold; }
      .section-profile-navmenu-item.active::after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url("../img/arrow-right-orange.png");
        background-size: 16px 16px;
        height: 16px;
        width: 16px; }
    .section-profile-navmenu-item.logout {
      display: flex;
      align-items: center;
      position: relative;
      height: 60px;
      width: 100%;
      color: #333;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      padding-left: 35px;
      box-sizing: border-box; }
      .section-profile-navmenu-item.logout::before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-image: url("../img/logout_icon.png");
        background-size: 20px 20px;
        height: 20px;
        width: 20px; }

.section-profile-content {
  margin-left: 35px;
  margin-top: 20px;
  width: 60%; }
  .section-profile-content-item {
    display: none; }
    .section-profile-content-item.active {
      display: block; }
  .section-profile-content-label {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #33333a;
    line-height: 22px;
    margin-bottom: 7px; }
  .section-profile-content-input {
    display: block;
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 13px;
    font-size: 14px;
    color: #33333a;
    font-weight: 600;
    border: 1px solid #979797;
    outline: none;
    margin-bottom: 20px; }
    .section-profile-content-input-error {
      display: block;
      width: 400px;
      height: 40px;
      box-sizing: border-box;
      padding-left: 13px;
      font-size: 14px;
      color: #33333a;
      font-weight: 600;
      border: 1px solid red;
      outline: none;
      margin-bottom: 20px; }
    .section-profile-content-input-date-mm {
      display: inline-block;
      width: 50px;
      height: 40px;
      box-sizing: border-box;
      padding-left: 13px;
      font-size: 14px;
      color: #33333a;
      font-weight: 600;
      border: 1px solid #979797;
      outline: none;
      margin-bottom: 20px; }
    .section-profile-content-input-date-yyyy {
      display: inline-block;
      width: 100px;
      height: 40px;
      box-sizing: border-box;
      padding-left: 13px;
      font-size: 14px;
      color: #33333a;
      font-weight: 600;
      border: 1px solid #979797;
      outline: none;
      margin-bottom: 20px; }
  .section-profile-content-pass {
    margin-top: 30px;
    margin-bottom: 20px; }
  .section-profile-content-btn {
    display: block;
    height: 35px;
    width: 150px;
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    margin: 16px 0;
    border: none;
    border-radius: 6px; }

.input-error-message {
  position: relative;
  top: -9px;
  color: red;
  font-size: 13px;
  margin-bottom: 5px; }

.incorrect-form-save {
  color: red; }

.order-history-list {
  min-width: 80%; }

.order-history-item {
  border-radius: 5px;
  border: 2px solid #cccccc;
  padding: 20px 45px;
  margin-bottom: 16px; }

.order-history-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px; }

body {
  padding-bottom: 200px; }

.shop-category .category-item {
  box-shadow: 0 0 10px 5px #ababab; }

.listing-products .product-item {
  box-shadow: 0 0 5px 5px #ababab; }
  .listing-products .product-item:hover {
    box-shadow: 0 0 5px 2px #ff6008;
    background-color: #fff; }

.breadcrumbs-section {
  background-color: #cfcfcf;
  box-shadow: 0 2px 2px 1px #ababab; }

.subscribe-email,
.header-dropdown-login-details,
.login-form-input,
.checkout-delivery-content-input,
.checkout-delivery-details,
.checkout-product-item,
.checkout-payment-exp-input {
  border: 1px solid #000; }

.size-item {
  border: 2px solid #000; }

.header-dropdown-login-details {
  border-bottom: 0; }

.size-item.active, .product-counter-btn, .basket-item-delete, .login-cancel-btn {
  border-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-weight: 700;
  opacity: 1; }

.header-dropdown-login-details-item,
.basket-item {
  border-bottom: 1px solid #000; }

.sub-page-sub-title,
.main-menu-link {
  color: #000; }

.main-menu-link {
  font-size: 16px; }

.order-history-item-dark {
  border: 2px solid #000; }
